#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navigation {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  font-size: 20px;
  border: 2px solid rgb(179, 54, 150);
  background-color: rgb(246, 238, 244);

  display: flex;
  justify-content: center;
  gap: 50px;

  &__item {}

  a {
    color: rgb(164, 107, 178);
  }
  a.active {
    color: rgb(255, 0, 0);
  }
}